// Variables
@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2.min.css';

body {
    background-color: #eaeaea;
}

.container {
}

.card {
    border: 0 none;
    background-color: #eaeaea;
}
